@import "./../global-variables.css";

.container {
  display: block;
  text-align: center;
}

.intro {
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
}
.member-container {
  display: flex;
  margin: auto;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.member-card {
  width: 20%;
  background-color: var(--main-color);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: white;
}

.intro-p {
  margin: auto;
  text-align: center;
  line-height: 1.7;
}

@media only screen and (max-width: 600px) {
  .member-card {
    width: 70%;
    background-color: var(--main-color);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  .intro-p {
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.7;
  }
}
