@import "./../global-variables.css";

.banner {
  background: var(--main-color);
  padding: 3rem 1.72rem;
  color: #fff;
  text-transform: uppercase;
}

.banner-span {
  color: var(--accent-color);
}
