@import "./../global-variables.css";

.main-footer {
  color: white;
  background-color: #2b86c5;
  background-image: linear-gradient(0deg, #2b86c5 0%, #784ba0 100%);
  padding-top: 0.75em;
  bottom: 0;
  width: 100%;
}

.title-footer {
  padding: 1.5em;
}

.title-footer > span {
  color: var(--accent-color);
}
.icons {
  height: 50px;
}

.icons-footer {
  margin: 0 10px 30px 10px;
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}
.icons-footer:hover {
  font-size: 30px;
  transition: 0.2s;
}

.footer {
  padding: 10px 0;
  text-align: center;
  font-size: 10px;
}
