@import "./../global-variables.css";

.main-footer {
  color: white;
  background-color: var(--main-color);
  padding-top: 0.75em;
  bottom: 0;
  width: 100%;
}

.title-footer {
  padding: 1.5em;
}

.title-footer > span {
  color: var(--accent-color);
}
.icons {
  height: 50px;
}

.icons-footer {
  margin: 0 10px 30px 10px;
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}
.icons-footer:hover {
  font-size: 30px;
  transition: 0.2s;
}

p {
  text-align: center;
}
