.main-footer {
  color: white;
  background-color: #001024;
  padding-top: 0.75em;
  bottom: 0;
  width: 100%;
}

.title-footer {
  padding: 2.5em;
}

.title-footer > span {
  color: #f6d98d;
}

.icons-footer {
  margin: 0 10px 30px 10px;
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
}

p {
  text-align: center;
}
