.buttons {
  margin-bottom: 50px;
}

.quiz-button {
  line-height: 1.7;
  padding: 20px;
  background-color: #001024;
  color: white;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 30%;
  margin: 30px 0;
}

.bttnTEXT {
  color: white;
}

.quiz-button:hover {
  box-shadow: 5px 7px 8px 3px rgba(0, 0, 0, 0.48);
  background-color: rgb(100, 100, 216);
}

@media only screen and (max-width: 600px) {
  .quiz-button {
    padding: 30px;
    color: white;
    font-size: 1rem;
    background-color: #001024;
    border-radius: 40px;
    width: 60%;
    margin: 30px;
  }
}
