.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  background-color: #001024;
  margin: auto;
  margin-bottom: 50px;
}

.suggestion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 20px auto;
}

.img-suggestion {
  width: 80%;
}

.more {
  width: 30%;
  background-color: #f6d98d;
  border-radius: 5px;
  margin: 30px 0;
}
@media only screen and (max-width: 700px) {
  .result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    background-color: #001024;
    margin: auto;
    margin-bottom: 50px;
  }
}
